header, body, html {
    font-family: 'Montserrat', sans-serif;    
    margin: 0;
    padding: 0;
    background: rgb(147, 122, 247);
}
    /* background-image: url(".\\assets\\full-reference.jpg");
    background-position: center;
    background-size: cover; */
    /* Uncomment above when full background is submitted */

.navbar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
    height: auto;
    width: 100vw;
    margin-top: 5vh;
    /* background: rgb(236, 234, 245); */
}

.brandContainer{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    height: auto;
    width: 15vw;
    /* background-color: brown; */
}

#brand{
    height: auto;
    width: 12vw;
}

.socialsContainer {
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-evenly;
    height: auto;
    width: 12vw;
    /* background-color: #24203f; */
} 

#socialIcon {
    font-size: 3vw;
    color: rgb(255, 255, 255);
}

#socialIcon:hover {
    color: #24203f;
}
.subicripcsrip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    margin: 40vh 0 0 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 20vh;
}
#title{
    font-size: 4vw;
    text-align: center;
    color:white;
}

#titleB{
    color:#24203f;
}

#desc{
    font-weight: 400;
    text-align: center;
    font-size: 1.8vw;
    margin: -30px;
    color: white;
}
#emailContainer{
    display: flex;
    align-items: center;
    height: 10vw;
    margin: 4vh;
    justify-content: space-between;
    width: 50vw;
    /* background-color: #24203f; */
}

#sub-btn{
    box-shadow: none;
    border-color: #24203f;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: linear-gradient(90deg, rgb(57, 109, 242), rgb(214, 112, 251));
    font-size: 20px;
    border-radius: 15px;
    width: 16vw;
    height: 3.2vh;
}
#email{
    border-color: #24203f;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    width: 30vw;
    height: 3vh;
    padding-left: 30px;
}